:root {
    --color-text-default: #181818;
    --color-pink: #e60555;
    --filter-pink : invert(41%) sepia(99%) saturate(7487%) hue-rotate(329deg) brightness(87%) contrast(108%);
    --filter-white : invert(100%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(104%) contrast(101%);
    --filter-pink-dark : invert(9%) sepia(78%) saturate(4030%) hue-rotate(326deg) brightness(102%) contrast(110%);
    --color-pink-reverse: #fff;
}

#r5-account-button  {
    font-family: Museo Sans,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#r5-account-button a:visited,a:active,a:hover,a:link {
    color: inherit;
}
#r5-account-button a {
    text-decoration:none;
}


#r5-account-button .panel {
    position: absolute;
    top: 80px;
    color: #000;
    z-index: 100;
    margin-right: 0px;
    right: 10px;
    text-align: left;
    border-top: 0px;
}

#r5-account-button .panel .head {
    background: #fff;
    height: 30px;
}


#r5-account-button .btn-small-close {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;
    border-bottom: 0 none;
}

#r5-account-button .btn-small-close svg:hover {
    filter: var(--filter-pink-dark);
}

#r5-account-button #plugin_account_block ,
.gifi-customer-menu {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 240px;
    background: #fff;
}

#r5-account-button #plugin_account_block {
    box-shadow: #ccc 0px 6px 10px;
}

#r5-account-button #plugin_account_block .lien-container ,
.gifi-customer-menu  .lien-container {
    padding: 0 10px;
}

#r5-account-button #plugin_account_block .lien ,
.gifi-customer-menu .lien {
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
}

#r5-account-button #plugin_account_block .lien img ,
.gifi-customer-menu .lien img  {
    width: 32px;
    height: 32px;
    padding-right: 10px;
    vertical-align: middle;
}


#r5-account-button #plugin_account_block .lien a ,
.gifi-customer-menu .lien a {
    padding: 10px 0;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}

#r5-account-button #plugin_account_block .sep ,
.gifi-customer-menu .sep {
    height: 1px;
    background-color: #eee;
    margin: 0 10px;
}

#r5-account-button #plugin_account_block .lien.last ,
.gifi-customer-menu .lien.last {
    border-bottom:none;
}

#r5-account-button #plugin_account_block .lien-container:hover ,
.gifi-customer-menu .lien-container:hover {
    background: #E60555;
}


#r5-account-button #plugin_account_block .lien-container.last:hover ,
.gifi-customer-menu .lien-container.last:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#r5-account-button #plugin_account_block .lien-container:hover img ,
.gifi-customer-menu .lien-container:hover img {
    filter:var(--filter-white);
}

#r5-account-button #plugin_account_block .lien:hover a ,
.gifi-customer-menu .lien:hover a{
    color:#fff;
}

#r5-account-button #plugin_account_block .lien:hover:after,
#r5-account-button #plugin_account_block .lien:hover:before,
.gifi-customer-menu .lien:hover:after,
.gifi-customer-menu .lien:hover:before
{
    border-right: 2px solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    color: #fff;
}

#r5-account-button #plugin_account_block .lien:hover:after ,
.gifi-customer-menu .lien:hover:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#r5-btn-close-popin {
    position: absolute;
    top: 10px;
    color: #000;
    z-index: 1000;
    right: 10px;
    height: 24px;
    width: 24px;
    cursor:pointer;
}
.r5-container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}

.r5-popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    min-width: 400px;
}
