<div id="topbar-menu" class="navbar-menu">
    <div id="title-page" ><a href="home.php" style="">Title page</a></div>
    <div class="navbar-item navbar-links">
        <div id="auth2" class="navbar-link">
        </div>
    </div>
</div>

<script>

    gifi.auth.afterCheckSession(function (){
        gifi.auth.showAccountButton();
    });
</script>